html, body {
    padding: 0;
    margin: 0;
    text-align: center;
    background: #fff;
    font-family: Arial, sans-serif;
    color: #333;
}

canvas {
    border: #fff solid 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    vertical-align: middle;
}

div {
    margin: 20px;
}
